* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(136, 27, 239);
  color: black;
  height: 75px;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav ul {
  list-style-type: none;
}

.gameContainer {
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
 position: relative;
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: coral;
}

.info{
    font-size: 25px;
}

.gameInfo {
  padding: 0 34px;
  font-family: Arial, Helvetica, sans-serif;
}

.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}

#reset{
    margin: 0 24px;
    padding: 6px 14px;
    border-radius: 6px;
    background: palevioletred;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
.line{
    background-color: black;
    background-color: rgb(141, 6, 141); 
    /* border-radius: ; */
    height: 3px;
    width: 0;
    transition: width 1s ease-in-out;
    position: absolute;
    /* transform: rotate(90 deg); */
    /* translate: 10vw, 10vw; */

}
@media screen and (max-width:800px)
{
    .gameContainer{
        flex-wrap: wrap;
    }   
    .gameInfo{
        margin-top: 34px;
    }
    .container{
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);  
    }
}